---
const work = [
    {
        name: "Software Engineer",
        role: "Frontend Developer",
        duration: "2019 - Present",
    },
    {
        name: "Software Engineer",
        role: "Frontend Developer",
        duration: "2019 - Present",
    },
    {
        name: "Software Engineer",
        role: "Frontend Developer",
        duration: "2019 - Present",
    },
];

const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "React",
    "Vue",
    "Node.js",
    "Express",
    "MongoDB",
    "MySQL",
    "Git",
    "GitHub",
    "GitLab",
    "Jira",
    "Confluence",
    "Figma",
    "Adobe XD",
    "Adobe Photoshop",
    "Adobe Illustrator",
    "Adobe After Effects",
    "Adobe Premiere Pro",
    "Adobe Lightroom",
    "Adobe Audition",
    "Microsoft Office",
    "Google Suite",
    "Windows",
    "MacOS",
    "Linux",
];

const courses = [
    {
        name: "Software Engineer",
        provider: "Frontend Developer",
        duration: "2019 - Present",
    },
    {
        name: "Software Engineer",
        provider: "Frontend Developer",
        duration: "2019 - Present",
    },
    {
        name: "Software Engineer",
        provider: "Frontend Developer",
        duration: "2019 - Present",
    },
];
---

<section class="my-4 max-w-5xl mx-auto">
    <div class="text-3xl font-bold mb-8">Resume</div>

    <div class="grid grid-cols-2 gap-4">
        <!-- Work Experience -->
        <div>
            <div class="text-2xl font-semibold mb-4">Working Experience</div>

            {
                work.map((item, index) => (
                    <div>
                        <div class="text-xl font-bold my-2">{item.name}</div>
                        <p class="my-1 font-light">{item.role}</p>
                        <p class="text-gray-500 my-1">{item.duration}</p>
                    </div>
                ))
            }
        </div>

        <!-- Skills -->
        <div>
            <div class="text-2xl font-semibold mb-4">Skills</div>

            {
                skills.map((item, index) => (
                    <div class="text-xl font-light my-2">{item}</div>
                ))
            }
        </div>

        <!-- Courses -->
        <div>
            <div class="text-2xl font-semibold mb-4">Courses</div>

            {
                courses.map((item, index) => (
                    <div>
                        <div class="text-xl font-bold my-2">{item.name}</div>
                        <p class="my-1 font-light">by {item.provider}</p>
                        <p class="text-gray-500 my-1">{item.duration}</p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
